<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para regresar -->
      <ion-button class="button-green" (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil del Estudiante</ion-title>
    <ion-buttons slot="end">
      <!-- Botón para cerrar sesión -->
      <ion-button class="button-logout" (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <span>Cerrar Sesión</span>
      </ion-button>
      <!-- Botón para ir a Home -->
      <ion-button class="button-green" (click)="navigateHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>
              <h3>Nombre</h3>
              <p>{{ nombre }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>
              <h3>Comuna</h3>
              <p>{{ comuna }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label>
              <h3>Dirección</h3>
              <p>{{ direccion }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="calendar"></ion-icon>
            <ion-label>
              <h3>Fecha de Nacimiento</h3>
              <p>{{ fechaNacimiento }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="school"></ion-icon>
            <ion-label>
              <h3>Carrera</h3>
              <p>{{ carrera }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Botón Ir a Registrar mi Asistencia -->
    <ion-button expand="full" class="button-green" (click)="navigateQR()">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Ir a Registrar mi Asistencia
    </ion-button>
  </div>
</ion-content>
