.button-green {
    --background: #28a745; /* Fondo verde */
    --color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el icono y el texto */
  }
  
  .button-logout {
    --background: #dc3545; /* Fondo rojo */
    --color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 0 16px; /* Espaciado interior */
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el icono y el texto */
    font-size: 14px; /* Tamaño de texto */
  }
  