<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="cambiarContrasena()">
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="contrasena.nueva"
        name="nuevaContrasena"
        color="success"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="contrasena.confirmar"
        name="confirmarContrasena"
        color="success"
        required>
      </ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" color="primary">Cambiar Contraseña</ion-button>
    </div>
  </form>
</ion-content>
