<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de retroceso -->
      <ion-button class="button-green" (click)="navigateBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title color="success" class="ion-text-center">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">
  <!-- Texto explicativo -->
  <div class="info-text">
    <p>
      Aquí podrás cambiar tu contraseña actual por una nueva. Ingresa una contraseña segura y confírmala en el segundo campo para completar el proceso.
    </p>
  </div>

  <form (ngSubmit)="cambiarContrasena()">
    <ion-item>
      <ion-label color="success" position="stacked">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="contrasena.nueva"
        name="nuevaContrasena"
        color="success"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="success" position="stacked">Confirmar Contraseña</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="contrasena.confirmar"
        name="confirmarContrasena"
        color="success"
        required>
      </ion-input>
    </ion-item>

    <div class="ion-padding">
      <!-- Botón para cambiar contraseña -->
      <ion-button class="button-green" type="submit" expand="block">
        <ion-icon slot="start" name="lock-closed"></ion-icon>
        Cambiar Contraseña
      </ion-button>
    </div>
  </form>
</ion-content>
