<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-button class="button-green" (click)="navigateBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title color="success" class="ion-text-center">Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">
  <
  <ion-item>
    <ion-label color="success" position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email" placeholder="Ingresa tu correo"></ion-input>
  </ion-item>

  
  <ion-button class="button-green" expand="block" (click)="enviarEnlace()">
    <ion-icon slot="start" name="mail-outline"></ion-icon>
    Recuperar Contraseña
  </ion-button>

  
  <div class="info-text">
    <p>
      ¿Olvidaste tu contraseña? Ingresa tu correo electrónico y te enviaremos un enlace con los pasos necesarios para que puedas restablecerla solamente si el correo esta registrada en nuestra base de datos.
    </p>
  </div>
</ion-content>
