<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Presente!</ion-title>
      <ion-buttons slot="end">
        <!-- Botón de Login -->
        <ion-button (click)="navigateToLogin()" class="button-green">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Login
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding center-content">
    <img
      src="https://img.freepik.com/vector-gratis/asistencia-papel-lista-comprobacion-dibujos-animados-icono-vectorial-ilustracion-educacion-negocio-aislado-plano_138676-10698.jpg"
      alt="Asistencia"
      style="width: 100%; height: auto; margin-bottom: 20px;"
    />

    <ion-card>
      <p class="ion-text-center">
        Bienvenido a <strong>Presente</strong>, la app de registro de asistencia para estudiantes. Con
        <strong>Presente</strong>, podrás registrar tu asistencia de manera rápida y fácil escaneando tu código QR en
        cada clase. ¡Simplifica tu día y asegura un control de asistencia eficiente con nuestra aplicación!
      </p>
      <h3 class="ion-text-center">¿Aún no tienes cuenta de estudiante?</h3>
    </ion-card>

    <!-- Botones de navegación con iconos y mayor separación -->
    <div class="button-container">
      <ion-button (click)="navegarRegistro()" expand="block" class="button-green">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Regístrate aquí
      </ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="navigateperfil()" expand="block" class="button-green">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Mi perfil
      </ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="navigateQR()" expand="block" class="button-green">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Registra aquí tu asistencia
      </ion-button>
    </div>
  </ion-content>
</div>
