.button-green {
  --background: #28a745; /* Fondo verde */
  --color: white; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el icono y el texto */
}

.button-container {
  margin-bottom: 20px; /* Separación entre los botones */
}
